<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/styles.css' />
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="/js/dropzone.js"></script>
    <script src="/js/script.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
